<aside class="container">
    <div id="scroll-container" (window:scroll)="onWindowScroll($event)"></div>
    <!-- <div id="scroll-container1" (scroll)="onContainerScroll($event)"></div> -->
    <div class="align" 
    [style.visibility]="scrollY ? 'visible' : 'hidden'"
    [style.transition]="scrollY ? 'opacity 0.4s linear, visibility 0.4s linear' : 'opacity 0.2s linear, visibility 0.4s linear'"   
    >
        <div class="progress-container">
            <div class="track-line">
                <div class="progress-line"
                [style.transform]="'translateY('+scrollY+'%)'"
                > </div>
            </div>
        </div>
    </div>
</aside>
