@import "/src/styles/variables";

.container {
    float: left;
    position: fixed;
    z-index: 999;
    left: 2rem;
    top: 0;
    // transform: translateX(-30px);
}

.align {
    @media only screen and (max-width: $phone_landscape) {
        visibility: hidden !important;
    }
    position: fixed;
    display: flex;
    transform: translateY(0px);
    height: 100vh;
    align-items: center;
    z-index: 3;
}

.progress-container {
    position: relative;
    outline: none;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.644);
    user-select: none;   
}

.track-line {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(88vh - 40px);
    max-height: 425px;
    width: 8px;
    opacity: 0.6;
    overflow: hidden;
}

.progress-line {
    position: absolute;
    height: 100%;
    top: -100%;
    width: 8px;
    background-color: rgb(0, 250, 0);
    left: 0;    
}