@import "/src/styles/variables";

:root{
  html {
    background: var(--background-color);
    // min-height: 100%;
    display: flex;
  }
}

.content {
  margin-bottom: 20rem;
}

:host {
  font-family: 'Lucida Grande', Roboto, Helvetica, Arial;
  font-size: 14px;
  color: var(--toolbar-text-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100%;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
}
